.DS_Store
output/
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm
.vscode
output/
.docc-build/
**/build.log
*.xcarchive/
*.bc
*.dia
_build/
**/.build/
