.DS_Store
output/
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm
.vscode
output/
.docc-build/
**/build.log
*.xcarchive/
*.log.txt
*.bc
*.dia
_build/
TestAssets/CMakeTest/build/				# special case?
